*{
     margin: 0;
    padding: 0;
   box-sizing: border-box;
}

/* body { 
    background-color: #F9F9F9;
    color: #333;
} */
.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 20px;
}
.font-inter { 
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
  header {
    background-color: #FFFFFF;
    padding: 16px 120px;        
}

nav {
       display: flex;
         justify-content:space-between;
}
.nav-child {
    display: flex;
    gap: 32px;
    align-items: center;
    list-style: none;
}
.nav-child a:hover{
    cursor: pointer;
    background-color: blueviolet;
    color: white;
}

    
.nav-child a{
    text-decoration: none;
     color: #333;
    font-weight: 500;
    font-size: 16px;
}
.btn {
     background: green;
    color: white;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    gap: 10px;
    border: none;
  
}
.btn:hover {
    background: blueviolet;
    cursor: pointer;
}
/* .btn-green {
    background: green;
    color: white;
} */
 
