*{
     margin: 0;
    padding: 0;
   box-sizing: border-box;
}

/* body { 
    background-color: #F9F9F9;
    color: #333;
} */
.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 20px;
}
.font-inter { 
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
  header {
    background-color: #FFFFFF;
    padding: 16px 120px;        
}

nav { 
      width: 85%;
      max-width: 1366px;
      margin: 0 auto;
       display: flex;
         justify-content:space-between;
}
.nav-child {
    display: flex;
    gap: 32px;
    align-items: center;
    list-style: none;
}
.nav-child a:hover{
    cursor: pointer;
    background-color: blueviolet;
    color: white;
}

    
.nav-child a{
    text-decoration: none;
     color: #333;
    font-weight: 500;
    font-size: 16px;
}
.btn {
     background: green;
    color: white;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    gap: 10px;
    border: none;
  
}
.btn:hover {
    background: blueviolet;
    cursor: pointer;
}
/* .btn-green {
    background: green;
    color: white;
} */
/* HERO */
.hero {
  position: relative;
  align-content: center;
  width: 85%;
  max-width: 1366px;
  margin: 0 auto;
  color: white;
  padding: 70px 120px 134px 120px;
  text-align: center;
  align-items: center;
  
}

 .container-hero-content {
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: 24px;
  }
 
.badge {
    justify-content: center;
     gap: 6;
    padding: 8px 12px 8px 12px;
   background: #16a34a;
  border-radius: 1000px;
  font-size: 16px;
  font-weight: 500;
}

.hero h1 {
  font-size: 48px;
  margin: 20px 0;
}

.hero h1 span {
  color: #22c55e;
}

.hero p {
  position: relative;
  color: #cbd5f5;
  margin-bottom: 32px;
}

.hero-actions a {
  gap: 16px;
   text-decoration: none;
  align-items: center;
  background-position: top center;
 
}
.hero-overlay img{
  position: absolute;
  width: 100%;
  height: 75%;
  
}

#problems .problems-heading{
  height: 152px;
  width: 85%;
  margin: 0 auto;
  max-width: 1360px;
  padding-top: 40px;
  text-align: center;

}
#problems .problems-container {
  align-items: center;
 width: 85%;
 height: 300px;
 margin: 0 auto;
 max-width: 1360px;
}
.problems-heading h1 {
  font-size: 48px;
font-weight: 700;
line-height: 58px;
  margin-bottom: 16px;
}
.problems-heading p {
  font-size: 16px;
font-weight: 400;
line-height: 20px;
margin-bottom: 45px;
  color: #6b7280;
}

#problems .problems-container .notes-info {
  display: flex;
  gap: 24px;
  
}
.info-card {
  display: flex;
  flex-direction: column;

}
.notes-info .info-card{
   border-radius: 8px;
  box-shadow: 15px 25px 20px 0px rgba(22, 22, 22, 0.06);
 background: rgb(252, 251, 251);
  padding: 24px;
  gap: 16;
  width: 100%;
  align-items: center;
  text-align: center;
}
.info-card .img-design {
  background-color: rgba(249, 85, 85, 1);
  width: 40px;
  border-radius: 45%;
  margin-bottom: 16px;
  margin-top: 30px;
  }

  
  .notes-info .info-card h2{
     font-size: 24px;
font-weight: 600;
line-height: 29px;
text-align: center;
margin-bottom: 16px;

  }
 
 .notes-info .info-card p{
   font-size: 16px;
font-weight: 400;
line-height: 20px;
 color: #6b7280;
 margin-bottom: 16px;
 text-align: center;

 }
 #solution {  
  width: 85%;
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    margin: 120px 120px;
    align-items: center;
    gap: 60;
  
 }
 #solution .knowledge img {
    width: 500px;
    height: 600px;
    padding-top: 120px;
   margin: 0 auto;
   
 }
.section-label{
  font-size: 16px;
  line-height: 20px;
font-weight: 500;
color: green;
margin-top: 102px;
}
.solution-area{
  padding: 222px 0px 102px 60px;
  align-items: center;
 
}
 .list-item li{
  list-style: none;
  margin-top: 16px;
}

.solution-text h1{
  margin-top: 16px;
  margin-bottom: 16px;
}
.solution-text p{
   color: #6b7280;
   margin-bottom: 40px;
}

#cta{
    width: 85%;
    height: 78%;
    max-width: 1600px;
     margin: 120px;
    align-items: center;
}
#cta .container-cta-box{
  display: flex;
flex-direction: column;
 justify-content: flex-start; 
 width: 100%;
  max-width: 1360px;
  height: 384px;
 /* margin-top: 80px; */
  align-items: center;
background: rgba(247, 246, 242, 1);
}
#cta .heading-cta-box{
  margin: 0 auto;
  margin: 80px 40px 24px 40px;
  text-align:center ;
}
.heading-cta-box h1{
  font-weight: 700;
  line-height: 48px;
 text-align: center;
   margin-bottom: 16px;
}
.heading-cta-box p{
  text-align: center;
  margin-bottom: 24px;
   color: #6b7280;
   width:100%
}
 .design-arrow{
  margin-bottom:16px;
align-items: center;
gap: 10;
padding: 12px 16px 12px 16px;
border-radius: 4px;
 }
 .design-arrow a{
  text-decoration: none;
  align-items: center;
  }
  .container .cta-note{
    padding-bottom: 80px;
    text-align: center;
    color: #6b7280;
  }