*{
     margin: 0;
    padding: 0;
   box-sizing: border-box;
}

/* body { 
    background-color: #F9F9F9;
    color: #333;
} */
.container {
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 20px;
}
.font-inter { 
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
  header {
    background-color: #FFFFFF;
    padding: 16px 120px;        
}

nav { 
      width: 85%;
      max-width: 1366px;
      margin: 0 auto;
       display: flex;
         justify-content:space-between;
}
.nav-child {
    display: flex;
    gap: 32px;
    align-items: center;
    list-style: none;
}
.nav-child a:hover{
    cursor: pointer;
    background-color: blueviolet;
    color: white;
}

    
.nav-child a{
    text-decoration: none;
     color: #333;
    font-weight: 500;
    font-size: 16px;
}
.btn {
     background: green;
    color: white;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    gap: 10px;
    border: none;
  
}
.btn:hover {
    background: blueviolet;
    cursor: pointer;
}
/* .btn-green {
    background: green;
    color: white;
} */
/* HERO */
.hero {
  position: relative;
  align-content: center;
  width: 85%;
  max-width: 1366px;
  margin: 0 auto;
  color: white;
  padding: 70px 120px 134px 120px;
  text-align: center;
  align-items: center;
  
}

 .container-hero-content {
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: 24px;
  }
 
.badge {
    justify-content: center;
     gap: 6;
    padding: 8px 12px 8px 12px;
   background: #16a34a;
  border-radius: 1000px;
  font-size: 16px;
  font-weight: 500;
}

.hero h1 {
  font-size: 48px;
  margin: 20px 0;
}

.hero h1 span {
  color: #22c55e;
}

.hero p {
  position: relative;
  color: #cbd5f5;
  margin-bottom: 32px;
}

.hero-actions a {
  gap: 16px;
   text-decoration: none;
  align-items: center;
  background-position: top center;
 
}
.hero-overlay img{
  position: absolute;
  width: 100%;
  height: 75%;
  
}

#problems .problems-heading{
  height: 152px;
  width: 85%;
  margin: 0 auto;
  max-width: 1360px;
  padding-top: 40px;
  text-align: center;

}
#problems .problems-container {
 width: 85%;
 height: 300px;
 margin: 0 auto;
 max-width: 1360px;
}
.problems-heading h1 {
  font-size: 48px;
font-weight: 700;
line-height: 58px;
  margin-bottom: 16px;
}
.problems-heading p {
  font-size: 16px;
font-weight: 400;
line-height: 20px;
  color: #6b7280;
}

#problems .problems-container .notes-info {
  display: flex;
  gap: 24px;
}